.donate-form{
    display: inline-block;
    align-items: center;
    margin: 20px;
   /*  opacity: 0;
    transform: scale(85%);
    transition: 2s;*/
    margin-left: 85vh; 
}

.donate-form--zoom {
    opacity: 1;
    transform: scale(100%);
    transition: 2s;
}


#blackbaud-donation-form_49808f28-35a6-43ab-bbbe-7279f71f56b8 {
    display: inline;
}